.Menu{
    background-color: black;
    position: relative;
}

ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  li a{
    text-decoration: none;
    color: grey;
    display: block;
    width: 60px;
  }
  li.active{
    width: 119rem;
    background-color: #4CAF50;
  }
  ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
  }
  
  li a {
    display: block;
    padding: 10px;
  }